body {
    display: flex;
    flex-direction: column;
    background-color: #181C14;
    margin: 0;
    height: 100vh;
    color: #FFF2F2;
}
a {
    text-decoration: none;
}
header {
    background-color: #3C3D37;
    border-radius: 7px;
}
footer, h1 {
    text-align: center;
}
/* for post form */
form {
    display: flex;
    flex-direction: column;
}
.post-form, .post {
    width: 75%;
    justify-self: center;
}
.post-form {
    border-radius: 15px;
    background-color: #697565;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 10px;
}
textarea {
    resize: vertical;
}
#title, #content {
    padding: 7px;
    background-color: #f4e8e8;
    border-radius: 7px;
}
[for="content"] {
    margin-top: 12px;
}
label {
    font-size: xx-large;
    font-family: cursive;
}
[value="Save"] {
    padding: 7px 12px;
    margin-top: 7px;
    margin-left: 47%;
    background-color: green;
    box-shadow: 1px 1px;
    width: 70px; 
    border-radius: 10px;
    border: 1px solid;
    color: #fff2f2e3;
}
[value="Save"]:hover {
    background-color: #6571a8;
}
/* for post box */
.post {
    display: flex;
    flex-direction: column;
}
.post-head {
    display: flex;
    justify-content: space-between;
    font-size: smaller;
}
.post-div {
    border: 1px solid #FFF2F2;
    margin-top: 40px;
    margin-bottom: 7px;
    border-radius: 7px;
    padding: 0 0 8px 5px;
    background-color: #697565;
    font-family: sans-serif;
    box-shadow: 0 2.5px 1.5px;
}
hr {
    width: 97%;
}
.post-btn {
    border-radius: 10%;
    padding: 5px;
}
#delete-btn {
    background-color: rgba(255, 0, 0, 0.462);
}
#edit-btn {
    background-color: grey;
    padding: 9px;
}
#edit-btn:hover {
    background-color: rgb(2, 2, 167);
}
#delete-btn:hover {
    background-color: red;
}
.post-edit {
    opacity: .7;
}
.post-date, .post-edit {
    margin-bottom: 5px;
}
.post-title {
    font-size: xx-large;
    margin: 10px 0 15px 0;
}
.add-btn {
    position: fixed;
    left: 85%;
    top: 90%;
    border-radius: 9px;
    padding: 15px;
    border: 0px solid;
    background-color: #0B192C;
    box-shadow: 0 1px 1px;
    color: #fff2f2e3;
}
.add-btn:hover {
    background-color: rgba(0, 0, 0, 0.747);
}
/* for header */
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    font-family:cursive ;
    font-size: large;
}
.nav-txt {
    color: #FFF2F2;
}
.nav-section {
    display: flex;
    gap: 50px;
}
@media (width > 500px) {
    .nav-menu {
        display: none;
    }
}
@media (width <= 500px){
    .nav-section{
        display: none;
    }
    .add-btn {
        left: 70%;
    }
    .post {
        width: 85%;
    }
    [value="Save"] {
        margin-left: 40%;
    }
}
#clicked {
    display: block;
    border: 1px solid #FFF2F2;
    border-radius: 2px;
    padding: 5px;
    background-color: rgb(106, 105, 105);
    z-index: 100;
    position: fixed;
    top: 50px;
    left: 70%;
}
/* for footer */
.social-link {
    display: flex;
    justify-content: center;
    gap: 2%;
}
#facebook, #linkedin {
    color: rgba(0, 0, 255, 0.695);
}
#whatsapp {
    color: green;
}
svg:hover {
    width: 30px;
    height: auto;
}
.copyright {
    font-family: cursive;
}